aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
dataclasses-json
fonttools
frozenlist
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
markdown-it-py
markdownify
MarkupSafe
marshmallow
matplotlib
mdurl
multidict
mypy-extensions
numpy
orjson
packaging
pandas
pillow
plotly
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
python-jobspy
pytz
PyYAML
referencing
requests
rich
rpds-py
rsa
seaborn
six
smmap
sniffio
soupsieve
SQLAlchemy
st-pages
streamlit>=1.32.0
streamlit-option-menu
tenacity
tls-client
toml
toolz
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
yarl
