aiofiles
altair
annotated-types
anyio
asgiref
async-timeout
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fastapi
ffmpy
filelock
fonttools
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
gradio_client
grpcio
grpcio-status
h11
html2text
httpcore
httpx
huggingface-hub
idna
importlib_resources
indeed
Jinja2
jobspy
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain-core
langchain-google-genai
langsmith
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
orjson
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
pydub
Pygments
pyparsing
python-dateutil
python-jobspy
python-multipart
pytz
PyYAML
redis
referencing
requests
rich
rpds-py
rsa
ruff
semantic-version
shellingham
six
smmap
sniffio
soupsieve
sqlparse
starlette
streamlit
tenacity
tls-client
toml
tomlkit
toolz
tornado
tqdm
typer
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets