altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain-core
langchain-google-genai
langsmith
markdown-it-py
markdownify
MarkupSafe
mdurl
numpy
orjson
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
python-jobspy
pytz
PyYAML
referencing
requests
rich
rpds-py
rsa
six
smmap
sniffio
soupsieve
streamlit
tenacity
tls-client
toml
toolz
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog